# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=GHOST PRISM Coin Daemon SNAP
Comment=testnet
GenericName=GHOST_PRISM Digital Currency Daemon Client testnet network
Exec=ghost_prism-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/ghost_prism_testnet.png
MimeType=x-scheme-handler/ghost;
Categories=X-Office;X-Finance;
Keywords=internet;ghost_prism;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;
Version=1.0
